<div class="container">
<h1><%= @task.title %></h1>

<div class="card mt-3 mb-3">
  <p  class="card-body"><%= @task.details %></p>
</div>

<p><input type="checkbox" <%=@task.completed ? "checked" : ""%>> complete</p>


<p class="btn btn-outline-primary text-reset"><%= link_to "Edit this task", edit_path %></p>
<p><%= link_to " <- Back to list", tasks_path %></p>
</div>
